<div class="container-fluid h-100" [ngClass]="{'player-block': blockUserInput}">
    <div class="row h-100">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 d-flex p-5">
            <container width="700" height="500" class="d-inline-block">

                <div class="d-flex h-25 justify-content-center pt-5">
                    <span class="h2">Turn {{ betSlipService.turn }}</span>
                </div>

                <div class="d-flex justify-content-center">
                    <span class="h6">{{ betSlipService.message }}</span>
                </div>

                <div class="d-flex h-75 justify-content-center align-items-center">
                    <ball class="selectable font-weight-light" text="1" color="#f2dadc"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="2" color="#ffe799"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="3" color="#F3FCF0"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="4" color="#bddeed"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="5" color="#dd9bb7"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="6" color="#ffd499"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="7" color="#b0fcd7"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="8" color="#7baf8d"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="9" color="#efb3a7"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                    <ball class="selectable font-weight-light" text="10" color="#b99bdd"
                        (click)="ballSelectionService.select($event.currentTarget)"></ball>
                </div>

            </container>
            <div>
                <container width="400" height="400" x="20" class="d-block mb-3">
                    <div class="d-flex justify-content-center align-items-center h6 pt-4">
                        <span class="">Selected balls</span>
                    </div>
                    <div class="table-wrapper-scroll-y">
                        <table class="table">
                            <div style="height: 200px;">
                                <div class="d-flex flex-wrap h-25 justify-content-center align-items-center p-3">
                                    <div *ngFor="let ball of ballSelectionService.selectedPool">
                                        <ball width="30" height="30" text="{{ball.textContent}}" color="{{ball.style.backgroundColor}}" class="font-weight-light"></ball>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>

                    <div class="h-25">
                        <div class="d-flex flex-wrap h-100 justify-content-center align-items-end">
                            <div class="input-group input-group-lg w-50 my-auto">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing">x1.5</span>
                                </div>
                                <input type="number" (change)="betSlipService.betQuantity = $event.currentTarget.value;" min=5 (change)="betSlipService.clampValue()" class="form-control" id="moneytray">
                                <span class="h2 pt-1 mx-2 font-weight-light">€</span>
                                
                            </div>
                            <div class="my-auto mx-2">
                                <button class="btn btn-primary px-4 py-2 rounded-0" (click)="utilsService.disable('moneytray')">Ok</button>
                            </div>
                            
                        </div>
                    </div>
                </container>

                <container width="400" height="200" x="20" class="d-block mt-4">
                    <div class="d-flex h-50 justify-content-center align-items-center">
                        <span class="h4">Total: {{betSlipService.total}}€</span>
                    </div>
                    <div class="d-flex h-50 justify-content-center align-items-center">
                        <button class="btn btn-primary px-5 py-3 w-75 rounded-0" id="betButton" (click)="betSlipService.bet()">Place bet</button>
                    </div>

                </container>

            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="w-100 h-100 position-absolute" style="top:0; left:0;" id="window-over" [ngClass]="{'overlay': betSlipService.blockUserInput}">
    <container width="400" height="300" centered="true" position="absolute">
        <div class="d-flex justify-content-center align-items-center m-auto">
            <span class="mx-5 my-4">Selected</span>
            <span class="mx-5 my-4">Machine&nbsp;</span>
        </div>
        <div class="d-flex justify-content-center align-items-center m-auto">
            <ball width="100" height="100" text="{{ballSelectionService.selected?.textContent}}" id="selected" class="h3 font-weight-light mx-4"></ball>
            <ball width="100" height="100" class="h3 font-weight-light mx-4" id="machine"></ball>
        </div>
        <div class="d-flex justify-content-center align-items-center m-auto">
            <span class="mx-5 my-3">{{ betSlipService.rollMessage }}</span>
        </div>
        <div class="d-flex justify-content-center align-items-center m-auto">
            <button class="btn btn-outline-primary py-1 px-4" id="confirmButton" (click)="betSlipService.confirm()">Ok</button>
        </div>
    </container>

</div>