.ball-body {
    width: 51px;
    height: 51px;
    background-color: #89a1b1;
    box-shadow: 0 0 2px .5px black;
}

.selected {
    box-shadow: 0 0 4px 5px orange;
    transition: all 500ms ease;
}

ball {
    user-select: none;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 240px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.overlay {
    background-color:rgba(239, 239, 239, 0.70);
    z-index: 1;
    transition: all 500ms ease;
}

.player-block {
    pointer-events: none;
}