/* You can add global styles to this file, and also import other style files */
html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

body {
    background-color: ghostwhite !important;
}

app-root {
    height: 100vh;
}